<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>{{if .IsEditing}}Edit Blog Post{{else}}Make A Blog Post{{end}}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
	<link rel="stylesheet" href="/css/create_post.css"/>
</head>

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">
		<div id="main">
			<h2>{{if .IsEditing}}Edit Blog Post{{else}}Make a Blog Post{{end}}</h2>
			<form method="post" action="{{if .IsEditing}}/edit/{{.PostID}}{{else}}/createpost{{end}}">
				<!-- Name -->
				<div class="form-group">
					<label for="demo-name">Username</label>
					<input type="text" name="name" id="demo-name" value="{{.Username}}" placeholder="Name" disabled
						required />
				</div>

				<!-- Blog Title -->
				<div class="form-group">
					<label for="demo-email">Blog Title</label>
					<input type="text" name="title" id="demo-email" value="{{if .IsEditing}}{{.Title}}{{end}}"
						placeholder="Blog Title" required />
				</div>

				<!-- Visibility (Public/Private) -->
				<div class="form-group radio-group">
					<div>
						<input type="radio" id="demo-priority-low" name="isPublic" value="true" {{if
							.IsPublic}}checked{{end}} required>
						<label for="demo-priority-low">Public Post</label>
					</div>
					<div>
						<input type="radio" id="demo-priority-normal" value="false" name="isPublic" {{if not
							.IsPublic}}checked{{end}} required>
						<label for="demo-priority-normal">Private Post</label>
					</div>
				</div>

				<!-- Blog Content -->
				<div class="form-group">
					<label for="demo-message">Blog Post</label>
					<textarea name="message" id="demo-message" placeholder="Enter Blog Post" rows="6"
						required>{{.Content}}</textarea>
				</div>

				<!-- Actions -->
				<div class="actions">
					<button type="submit" class="primary">{{if .IsEditing}}Edit Post{{else}}Create Post{{end}}</button>
					<input type="reset" value="Reset" />
				</div>
			</form>
		</div>
	</div>
</body>
</html>